#!/usr/bin/make -f

%:
	dh $@ 

override_dh_auto_build:
	# Memberikan Perizinan Eksekusi Berkas Script hello.sh dan hello-dep.sh
	find paketku -type f -print -exec chmod 0775 '{}' \;
	find paketkudep -type f -print -exec chmod 0775 '{}' \;

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
